.allTatoos {
  height: 100vh;
  overflow: visible;
}

.waveRelative {
  position: relative;
}

.waveFixed {
  position: absolute;
  bottom: 0%;
  fill: var(--grey-var-1);
}

.imgSlide{
  height: 600px;
}

.divSlider{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Slider{
  width: 360px;
}