.allForm{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form{
    background-color: var(--grey-var-1);
    min-height: auto;
    // height: 600px;
    width: 360px;
    border-radius: 8px;
    box-shadow: 0px 4px 0px var(--black);
    padding: 20px;
}

.divSelection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 10px;
    border-radius: 40px;
    background-color: var(--grey-var-4);
}

.selection {
  font-size: 1rem;
  font-weight: 400;
  display: inline-block;
  position: relative;
  padding-bottom: 2px;
  cursor: pointer;
}

.selection:hover:before{
  width: 100%;
}
.selection::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: var(--red);
  transition: width 0.25s ease-in;
}

.description{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  padding: 5px;
}

.itemTitle{
  font-size: 1rem;
  padding-bottom: 5px;
}

.itemLabel{
  width: 100%;
  padding-top: 15px;
}

.itemInput{
  background-color: transparent;
  width: 100%;
  height: 45px;
  padding: 5px;
  border: var(--grey-var-4) solid 3px;
  border-radius: 8px;
  &::placeholder{
    color: var(--grey-text);
    opacity: 0.6;
  }
}

.itemInputDescription{
  background-color: transparent;
  min-width: 100%;
  max-width: 100%;
  min-height: 125px;
  height: auto;
  padding: 5px;
  border: var(--grey-var-4) solid 3px;
  margin-bottom: 15px;
  border-radius: 8px;
  resize: vertical;
  &::placeholder{
    color: var(--grey-text);
    opacity: 0.6;
  }
}

.itemInputDivSubmit{
  display: flex;
  width: 100%;
  justify-content: flex-end;
}

.itemInputSubmit{
  background-color: var(--grey-var-4);
  padding: 5px;
  border: none;
  border-radius: 40px;
  font-weight: 500;
  font-size: 1rem;
  height: 50px;
  width: 160px;
  &:hover{
    background-color: var(--grey-var-3);
    color: var(--red);
  }
}