.allContact {
  min-height: 100vh;
  overflow: visible;
  background-color: var(--grey-var-4);
  z-index: 4;
}

.waveRelative {
  position: relative;
  z-index: 4;
}

.waveFixed {
  position: absolute;
  bottom: 0%;
  fill: var(--grey-var-4);
}