.allCalendar {
  min-height: 100vh;
  overflow: visible;
  background-color: var(--grey-var-3);
  z-index: 3;
  padding-bottom: 15%;
}

.waveRelative {
  position: relative;
  z-index: 3;
}

.waveFixed {
  position: absolute;
  bottom: 0;
  fill: var(--grey-var-3);
}

.CardScroll {
  overflow-x: scroll;
  overflow-y: visible;
  display: flex;
  padding-bottom: 5px;
}

.divBtn {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  font-weight: 600;
  font-size: 1rem;
  width: 160px;
  height: 48px;
  border-radius: 40px;
  border: none;
  padding: 16px;
  padding-left: 24px;
  padding-right: 24px;
  &:hover {
    background-color: var(--grey-var-1);
    color: var(--red);
  }
}

@media screen and (min-width: 600px) {
  .waveFixed {
    bottom: -10px;
  }
}

@media screen and (min-width: 1024px) {
  .CardScroll {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: none;
  scrollbar-color: none;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  display: none;
}
