nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  width: 360px;
  height: 65px;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  background-color: var(--grey-text);
  border-radius: 40px;
  box-shadow: 0px 4px 0px var(--black);
}

.links {
  color: var(--black);
  font-size: 1.1rem;
  font-weight: 500;
}
